.time-display {
    padding: 5px;
    margin: 5px;
    background-color:aliceblue;
    min-width: 80px;
    display: inline-block;
    border: 1px solid;
    border-color: gray;
    border-radius: 3px;
    align-items: center;
}

body {
    background-image: '/static/uploads/jason-leung-poI7DelFiVA-unsplash.jpg'
}